Find time complexities!

In [ ]:
number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)

In [ ]:
L = [1,2,3,4]

sum = 0
for i in L:
  sum = sum + i

product = 1
for i in L:
  product = product*i

print(sum,product)

In [ ]:
A = [1,2,3,4]
B = [5,6,7,8]
for i in A:
  for j in B:
    print(i,j)

In [ ]:
L = [1,2,3,4]

sum = 0
for i in L:
  sum = sum + i

product = 1
for i in L:
  product = product*i

print(sum,product)

In [ ]:
A = [1,2,3,4]
B = [5,6,7,8]

for i in A:
  for j in B:
    for k in range(1000000):
      print(i,j)

In [ ]:
L = [1,2,3,4,5]

for i in range(0,len(L)//2):
  other = len(L) - i -1
  temp = L[i]
  L[i] = L[other]
  L[other] = temp

print(L)

[5, 4, 3, 2, 1]

In [ ]:
n = 10
k = 0;
for i in range(n//2,n):
  for j in range(2,n,pow(2,j)):
        k = k + n / 2;

print(k)

40.0

In [ ]:
a = 10
b = 3

if b <= 0:
  print(-1)
div = a//b

print(a-div-b)

4

In [ ]:
n = 345

sum = 0
while n>0:
  sum = sum + n%10
  n = n // 10

print(sum)

12

In [ ]:
def fib(n):
  if n == 1 or n == 0:
    return 1
  else:
    return fib(n-1) + fib(n-2)

In [ ]:
# Subset Algo

           {3T(n-1) if n>0
    T(n) = {1, otherwise

           {2T(n-1)-1 if n>0
    T(n) = {1, otherwise

In [ ]:
import time
start=time.time()
for i in range(1,100):
  print(i)
end = time.time()
print(end-start)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
0.0025682449340820312

In [ ]:
import time
start= time.time()
i=0
while i!=100:
  print(i)
  i+=1
end = time.time()
print(end-start)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
0.01973438262939453