In [1]:
def is_even(num):
    """This function returna s of agiven finction is even or not
    Input-any valid integer
    Output-od/even"""
    if type(i)==int:
      if num%2==0:
        return "even"
      else:
        return "odd"
    else:
      return "pagal hai kya"

In [2]:
for i in range(1,11):
    x = is_even(i)
    print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [3]:
is_even.__doc__

'This function returna s of agiven finction is even or not\n   Input-any valid integer\n   Output-od/even'

In [4]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [5]:
is_even("hello")

TypeError: not all arguments converted during string formatting

When we create a function,the input variable is known as parameter,but when we use the function the input variable is known as argument

Types of argument

Default Argument

Positional Argument

Keyword Argument

In [ ]:
def power(a,b):
    return a**b

In [ ]:
power()

TypeError: power() missing 2 required positional arguments: 'a' and 'b'

In [ ]:
power(2)

TypeError: power() missing 1 required positional argument: 'b'

In [ ]:
def power(a=1,b=1):
    return a **b

In [ ]:
power(2)

2

In [ ]:
#positional argument

In [ ]:
power(2,3)

8

In [ ]:
#keyword argument

In [ ]:
power(b=3,a=2)

8

### `*args and **kwargs`
`*args and **kwargs` are special Python keywords that are used to pass the variable length of arguments to a function

In [ ]:
def multiply(a,b):
    return a*b

In [ ]:
multiply(2,3)

6

In [ ]:
def mul(*args):
    product =1
    for i in args:
        product = product*i
    print(args)
    return product

In [ ]:
mul(2,2,2,32)

(2, 2, 2, 32)

256

In [ ]:
# **kwargs
# **kwargs allows us to pass any number of keyword arguments.
# Keyword arguments mean that they contain a key-value pair, like a Python dictionary.

In [ ]:
def display(**kwargs):
    for (key,value) in kwargs.items():
        print(key,"->",value)

In [ ]:
display(India="delhi",srilanka= "colombo")

India -> delhi
srilanka -> colombo

Points to remember while using *args and **kwargs

order of the arguments matter(normal -> *args -> **kwargs)

The words “args” and “kwargs” are only a convention, you can use any name of your choice

In [ ]:
  l = [1,2,3,4]
print(l.append(4))
print(l)

None
[1, 2, 3, 4, 4]

Variable Scope

In [ ]:
#Nested Function
#Nested fuction is hidden from the main program

In [ ]:
def f():
    def g():
        print("inside fuction g")
    g()
    print("inside function f")

In [ ]:
f()

inside function f

In [ ]:
g()

NameError: name 'g' is not defined

Function is a first class citizen.

In [ ]:
def square(num):
    return num**2
#this function will behave like data type

In [ ]:
type(square)

function

In [ ]:
a=2
type(a)
id(a)
print(id(square))

1322212736832

In [ ]:
x = square(3)
x

9

In [ ]:
x = square
x = square

In [ ]:
id(x)

1322212736832

In [ ]:
x(3)

9

In [ ]:
del square

In [ ]:
square(3)

NameError: name 'square' is not defined

In [ ]:
l = [1,2,3,4,square]

In [ ]:
print(l)

[1, 2, 3, 4, <function square at 0x00000133DA27AA70>]

In [ ]:
l[-1](3)

9

In [ ]:
s = {square}

In [ ]:
  #Lambda Function

In [ ]:
a =lambda x:x**2

In [ ]:
a(2)

4

In [ ]:
b = lambda x,y:x+y

In [ ]:
b(2,4)

6

In [ ]:
 #check if a string has "a"

In [ ]:
a =lambda s:"a" in s

In [ ]:
a("hello")

False

In [ ]:
#odd or even

In [ ]:
t =lambda x:"even" if x%2==0 else "odd"

In [ ]:
t(5)

'odd'

In [ ]:
#Higher order function

In [ ]:
def sq(x):
    return x**2

In [ ]:
def transform(f,L):
    output = []
    for i in L:
        output.append(f(i))
    print(output)
l = [1,2,3,4,5]
transform(sq,l)
#transform is a higher orger function because it's getting function as inout

[1, 4, 9, 16, 25]

In [ ]:
def cube(x):
    return x**3

In [ ]:
cube(4)

64

In [ ]:
transform(lambda x:x**3,l)

[1, 8, 27, 64, 125]

-<ins> MAP

-<ins> FILTER

-<ins> REDUCE

 
The map() function in Python is a built-in function that allows you to apply a specified function to all items in an iterable (e.g., a list, tuple, or string) and returns an iterator that produces the results. 

Map always expect two things i.e lambda and iterable

In [7]:
 #square the items of a list using MAP
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [9]:
#odd/even labeling of the list items
l =[1,2,3,4,5]
label =[]
for i in l:
    if i%2==0:
        label.append("even")
    else:
        label.append("odd")
print(label)

['odd', 'even', 'odd', 'even', 'odd']

In [ ]:
#Now using MAP

In [11]:
l =[1,2,3,4,5]
list(map(lambda x:"even" if x%2==0 else "odd",l))

['odd', 'even', 'odd', 'even', 'odd']

In [13]:
 # fetch names from a list of dict

users = [
    {
        'name':'Rahul',
        'age':45,
        'gender':'male'
    },
    {
        'name':'Nitish',
        'age':33,
        'gender':'male'
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female'
    }
]

In [14]:
users['gender']

TypeError: list indices must be integers or slices, not str

Filter

In [ ]:
# numbers greater than 5

In [17]:
l = [3,4,5,6,8,4,5]
list(filter(lambda x:x>5,l))

[6, 8]

In [19]:
#fetch fruits starting with "a"
fruits = ["apple","guava","cherry"]

In [20]:
list(filter(lambda x:x.startswith("a"),fruits))

['apple']

Reduce

In [21]:
import functools
functools.reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [23]:
#find min
functools.reduce(lambda x,y:x if x<y else y,[22,11,25,9,88])

9

In [24]:
 #find min
functools.reduce(lambda x,y:x if x>y else y,[1,2,3,5,77,444])

444

In [26]:
task = input('''Enter the task
A:cm to ft
B:km to miles
C:USD to INR ''')
if task == "A":
  l= float(input("Enter the length in cms"))
  print("Length in ft is",l*0.0328)
elif task == "B":
  d = float(input("Enter the distance in kms"))
  print("distance in miles is",d*0.6)
elif task=="C":
  m = float(input("Enter the money in USD"))
  print("Money is INR is",m*70)