### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [7]:
# Write code here
ctc = float(input("Enter the in hand salary"))
hra = 10
da = 5
pf =3
if ctc<5:
  tax =0
elif 5<=ctc<10:
  tax =10
elif 10<=ctc<20:
  tax = 20
elif ctc>=20:
  tax = 30
hra_d = (hra/100)*ctc
da_d = (da/100)*ctc
pf_d = (pf/100)*ctc
tax_d = (tax/100)*ctc
in_hand = ctc - hra_d - da_d - pf_d -tax_d
print(in_hand)

Enter the in hand salary55000
28600.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [2]:
# Write code here
a = int(input("Enter the first angle"))
b = int(input("Enter the second angle"))
c = int(input("Enter the third angle"))
if a+b+c==180:
  print("It forms a triangle")
else:
  print("it does not forms the triangle")

Enter the first angle60
Enter the second angle60
Enter the third angle60
It forms a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [5]:
from re import S
# Write code here
cost_price = int(input("Enter the cost price "))
selling_price = int(input("Enter the selling price "))
if cost_price>selling_price:
  print("Loss")
elif cost_price==selling_price:
  print("No loss")
else:
  print("Profit")

Enter the cost price 44
Enter the selling price 3332
Profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here
task = input("""Enter the task
A:cm to ft
B:km to miles
C:USD to INR """)
if task == "A":
  l= float(input("Enter the length in cms"))
  print("Length in ft is",l*0.0328)
elif task == "B":
  d = float(input("Enter the distance in kms"))
  print("distance in miles is",d*0.6)
elif task=="C":
  m = float(input("Enter the money in USD"))
  print("Money is INR is",m*70)
else:
  exit()

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [19]:
nterms = int(input("Enter the numbe of terms in Fibonacci series"))
n1,n2=0,1
n3= 0
print("Fibonacci series:{},{},".format(n1,n2),end = " ")
for i in range(0,nterms-2):
  n3=n1+n2
  print("{},".format(n3),end = "")
  n1=n2
  n2=n3

Enter the numbe of terms in Fibonacci series10
Fibonacci series:0,1, 1,2,3,5,8,13,21,34,

In [27]:
term = int(input("Enter the number of terms "))
num1 =0
num2 =1
print(num1)
print(num2)
for i in range(term-2):
  num3=num1 + num2
  print(num3)
  num1=num2
  num2=num3

Enter the number of terms 10
0
1
1
2
3
5
8
13
21
34

In [32]:
term = int(input("Enter the number of terms "))
num1 = 0
num2 = 1
print(num1,num2,end = " ")
while term>2:
  num3=num1+num2
  print(num3,end = " ")
  num1=num2
  num2=num3
  term-=1

Enter the number of terms 10
0 1 1 2 3 5 8 13 21 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [34]:
# Write code here
number = int(input("Enter the number to find its factorial"))
result = 1
for i in range(1,number+1):
  result *=i
print(result)

Enter the number to find its factorial5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [15]:
# Write code
num = input("Enter the number")
num = num[::-1]
num =int(num)
print(num)

Enter the number545454
454545

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [8]:
N = int(input("Enter the number: "))
sum = 0
i = 1

while i < N+1:
    if i % 5 != 0:
        sum += i
    if sum > 300:
        break
    i += 1

print(sum)

303

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [2]:

total =0
count= 0
while True:
    num = int(input("Enter the number"))
    if num==0:
        break
    else:
        total += num
    count+=1
print(total)
print(total/count)

14
2.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here