In [ ]:
#Tuple unpacking
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b=(1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [ ]:
#swapping
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [ ]:
a,b,*others=(1,2,3,4,5)
print(a,b)
print(others)

1 2
[3, 4, 5]

Using Zip Function in Tuple

In [ ]:
a=(1,2,3,4)
b=(5,6,7,8)

list(zip(a,b))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [ ]:
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

Sets

Few concepts on Sets

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
#Union
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
#Intersection
s1&s2

{4, 5}

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
#Difference -
s1-s2

{1, 2, 3}

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
#Symmeric Difference
s1^s2

{1, 2, 3, 6, 7, 8}

In [ ]:
#Membership Test
1 in s1

True

In [ ]:
#Set Comprehension
{i for i in range(1,11) if i>5}

{6, 7, 8, 9, 10}

Dictionary Comprehension

In [ ]:
#{key:value for vars in iterable}

In [ ]:
#print 1st 10 numbers and their square
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#convert existing dictionary into a new dinctionary with miles/hr
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:values*0.62 for (key,values) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [ ]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]
{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [ ]:
#using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [ ]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [ ]:
#print table from 5 to 10
{i:{j:i*j for j in range(1,11)} for i in range(5,11)}

{5: {1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50},
 6: {1: 6, 2: 12, 3: 18, 4: 24, 5: 30, 6: 36, 7: 42, 8: 48, 9: 54, 10: 60},
 7: {1: 7, 2: 14, 3: 21, 4: 28, 5: 35, 6: 42, 7: 49, 8: 56, 9: 63, 10: 70},
 8: {1: 8, 2: 16, 3: 24, 4: 32, 5: 40, 6: 48, 7: 56, 8: 64, 9: 72, 10: 80},
 9: {1: 9, 2: 18, 3: 27, 4: 36, 5: 45, 6: 54, 7: 63, 8: 72, 9: 81, 10: 90},
 10: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90, 10: 100}}