# Tuple

# `Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [3]:
l=[(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
result_dict={}
for key,value in l:
    if key in result_dict:
        result_dict[key].append(value)
    else:
        result_dict[key]=[value]
print(result_dict)
result_list=[(key,*value_list) for key,value_list in result_dict.items()]
print(result_list)

{5: [6, 7, 8], 6: [10], 7: [13]}
[(5, 6, 7, 8), (6, 10), (7, 13)]

# `Q2:` Multiply Adjacent elements (both side) and take sum of right and left side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [33]:
# write your code here
t=(1, 5, 7, 8, 10)
p=[]
product_first=t[0]*t[1]
p.append(product_first)
for i in range(1,len(t)-1):
    product=t[i]*t[i-1]+t[i+1]*t[i]
    p.append(product)
product_last=t[-1]*t[-2]
p.append(product_last)
print(tuple(p))

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [37]:
# write your code here
t1 = (1,2,3,0)
t2 = (0,1,2,3)
for i in range(len(t1)):
    if t1[i]!=t2[i]:
        print("different")
        break
    else:
        print("t1 and t2 are not same")

different

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [38]:
# write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
list_count=0
set_count=0
tuple_count=0
for i in list1:
    if isinstance(i,list):
        list_count+=1
    elif isinstance(i,tuple):
        tuple_count+=1
    elif isinstance(i,set):
        set_count+=1
print("List-",list_count)
print("Set",set_count)
print("Tuples",tuple_count)

List- 2
Set 2
Tuples 1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [75]:
# write your code here
students=[]

num = int(input("Enter the number of applicants"))
for i in range(num):
    print("Enter the details of",i+1,"applicants")
    name= input("Enter the name")
    h_ed= input("Enter higher education")
    p_skill= input("Enter primary skill")
    yog=input("Enter year of graduation")
    students.append((name,h_ed,p_skill,yog))
print(students)
required_skill = input("Enter required skill")
required_hed = input("Enter required higher education")
required_yog = input("Enter required yog")
flag=False
for i in students:
    if i[1]==required_hed and i[2]==required_skill and i[3]==required_yog:
        print(i)
        flag=True
if flag==False:
    print("no such candidate")

Enter the number of applicants2
Enter the details of 1 applicants
Enter the namebelal
Enter higher educationbtech
Enter primary skillpython
Enter year of graduation2022
Enter the details of 2 applicants
Enter the nameankit
Enter higher educationbtech
Enter primary skillc
Enter year of graduation2022
[('belal', 'btech', 'python', '2022'), ('ankit', 'btech', 'c', '2022')]
Enter required skillpython
Enter required higher educationbtech
Enter required yog2022
('belal', 'btech', 'python', '2022')

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [41]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
arr = set(ar1) & set(ar2)
final = arr & set(ar3)
print(list(final))

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [7]:
# write your code here
str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
s=[i for i in str1]
s1=set(s)
count=0
for i in s1:
    if i in "aeiouAEIOU":
        count+=1
print(count)

6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [10]:
# write your code here
s= input("Enter the string")
l=[i for i in s]
print(l)
st=set(l)
print(st)
if len(st)==2:
    print("Yes")
else:
    print("No")

Enter the stringababababa
['a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a']
{'b', 'a'}
Yes

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [14]:
# write your code here
a=[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
b=[]
for i in a:
    b.extend(i)
final=list(set(b))
final

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [22]:
# write your code here
lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]
[i for i in lst1 if i in lst2]

[9, 11, 26, 28]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [54]:
# write your code here
d = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3,8,9,7,5,88,98,76], "Best" : [9, 9, 6, 5, 5]}
max_val=0
max_key=""
for i in d:
    if max_val<len(set(d[i])):
        max_val=len(set(d[i]))
        max_key=i
  
print(max_key)

is

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [66]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
#output:CampusX is the best channel for Data-Science students.
res=[]
for i in test_str.split():
    if i in repl_dict:
        res.append(repl_dict[i])
    else:
        res.append(i)
" ".join(i for i in res)

'CampusX is the best channel for Data-Science students.'

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [85]:
# write your code here
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
#output : [{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
n= len(test_list)
res= []
for i in range(0,n,2):
     res.append({key_list[0]:test_list[i],key_list[1]:test_list[i+1]})
print(res)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [70]:
# write your code here
a=[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
b=[('A', 1), ('B', 2), ('C', 3)]
print({i:[j] for (i,j) in a })
{i:[j] for (i,j) in b }

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

{'A': [1], 'B': [2], 'C': [3]}

In [ ]:
#without using dictionary comprehension
a=[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [84]:
# write your code here
d={'c': [3], 'b': [12, 10], 'a': [19, 4]}
d1={}
for i in sorted(d):
    d1[i]=sorted(d[i])
d1

{'a': [4, 19], 'b': [10, 12], 'c': [3]}